{% extends "base.html" %} 
{% import '__blog_posts.html' as blog_posts %}

{% block content_title %}
<h1>All Blog Posts</h1>
{% endblock %} {% block content %} {% if TAGS_POSITION == 'top' %}
<small>
  <div class="tags">
    {% if 'sort_by_article_count' is filter %} {% for tag, articles in
    tags|sort_by_article_count %}
    <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
    {% endfor %} {% else %} {% for tag, articles in tags|sort %}
    <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
    {% endfor %} {% endif %}
  </div>
</small>
{% endif %}

{{ blog_posts.render_blog_posts(articles) }}

{% if TAGS_POSITION != 'top' %}
<small>
  <div class="tags">
    {% if 'sort_by_article_count' is filter %} {% for tag, articles in
    tags|sort_by_article_count %}
    <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
    {% endfor %} {% else %} {% for tag, articles in tags|sort %}
    <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
    {% endfor %} {% endif %}
  </div>
</small>
{% endif %} {% endblock %}
