{% extends "base.html" %}

{% block content %}
  <p>👋 Hi! I’m Deepak.</p>
  <p>🙏 Welcome to my online home.</p>
  <p>💻 I’m a Software Developer from Sydney, Australia 🇦🇺</p>
  <p>My journey in the world of programming began in the mid-1990s, just as the World Wide Web was starting to weave its global tapestry.</p>

  <p>
  I have been writing software for both fun and profit for over twenty years, and it’s been a deeply rewarding journey. Coding is more than just a profession for me—it's a passion that has shaped much of my life.
  </p>

  <p>
Beyond programming, I enjoy reading, spending quality time with my family on holidays, and experimenting in the kitchen.
  </p>

  <p>
According to the 16Personalities test, I’m a Logician INTP-A. While these personality tests aren’t definitive, I find that the Strengths and Weaknesses section resonates with me the most.
  </p>

  <p>
I’m on a lifelong mission to refine my thinking, aiming to be a little less wrong each day.
</p>



  <h2>Recent Posts</h2>
  
  <ul class="blog-posts">
    {% for article in articles[:5] %}
    <li>
      <span>
        <i>
          <time datetime="{{ article.date.isoformat() }}" pubdate="">
            {{ article.date.strftime('%b %d, %Y') }}
          </time>
        </i>
      </span>
      <a href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a>
    </li>
    {% if DISPLAY_SUMMARY %}
    <div class="entry-content">{{ article.summary }}</div>
    {% endif %} {% endfor %}
  </ul>
  <a href="/blog">More Posts...</a>
{% endblock content %}


