{% extends "base.html" %}

{% block content %}
  <p>👋 Hi! I’m Deepak.</p>
  <p>🙏 Welcome to my online home.</p>
  <p>💻 I’m a Software Developer from Sydney, Australia 🇦🇺</p>
  <p>You can find more about me in the <a href="/pages/about">about page</a></p>



  <h2>Recent Posts</h2>
  
  <ul class="blog-posts">
    {% for article in articles[:7] %}
    <li>
      <span>
        <i>
          <time datetime="{{ article.date.isoformat() }}" pubdate="">
            {{ article.date.strftime('%b %d, %Y') }}
          </time>
        </i>
      </span>
      <a href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a>
    </li>
    {% if DISPLAY_SUMMARY %}
    <div class="entry-content">{{ article.summary }}</div>
    {% endif %} {% endfor %}
  </ul>
  <a href="/blog">More Posts...</a>
{% endblock content %}


