{% extends "base.html" %}

{% block content %}
  <p>👋 Hi! I’m Deepak.</p>
  <p>🌴 Welcome to my digital space, web cave, garden thingy!</p>
  <p>💻 I’m a Software Developer from Sydney, Australia 🇦🇺</p>
  <p>My journey in the world of programming began in the mid-1990s, just as the World Wide Web was starting to weave its global tapestry.</p>
  <p>To know more about me, you can visit my <a href="pages/about">About</a> page.</p>

  <h2>Latest from the log</h2>
  
  <ul class="blog-posts">
    {% for article in articles[:5] %}
    <li>
      <span>
        <i>
          <time datetime="{{ article.date.isoformat() }}" pubdate="">
            {{ article.date.strftime('%b %d, %Y') }}
          </time>
        </i>
      </span>
      <a href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a>
    </li>
    {% if DISPLAY_SUMMARY %}
    <div class="entry-content">{{ article.summary }}</div>
    {% endif %} {% endfor %}
  </ul>
  <a href="/blog">More Posts...</a>
{% endblock content %}


