{% extends "base.html" %}

{% block content %}
  <h1>Posts tagged with "{{ tag.name }}"</h1>

  <ul class="blog-posts">
    {% for article in articles %}
    <li>
      <span>
        <i>
          <time datetime="{{ article.date.isoformat() }}" pubdate="">
            {{ article.date.strftime('%b %d, %Y') }}
          </time>
        </i>
      </span>
      <a href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a>
    </li>
    {% if DISPLAY_SUMMARY %}
    <div class="entry-content">{{ article.summary }}</div>
    {% endif %} {% endfor %}
  </ul>
{% endblock %}

