{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <div style="display: flex; align-items: center;">
        {{ if .Params.featured_image }}
          <img src="/images/featured/{{ .Params.featured_image}}" class="post-featured-image" />
        {{ else }}
          <span class="post-featured-image">&nbsp</span>
        {{ end }}

        <div>
          <a href="{{ .Permalink }}" style="font-size: 1em;">{{ .Title }}</a>
          <div>
            <i>
              <time style="font-size: .85em; color:#747474" datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
              </time>
            </i>
          </div>
        </div>
      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</content>
{{ end }}
