
{{ define "main" }}
<content>
  <p>
    These posts are non-technical. 
  </p>

  {{ if .Data.Singular }}
  {{ else }}
    <h3>Tags</h3>
    <div>
      {{ if ne (len $.Site.Taxonomies.general_interests_tags) 0 }}
        {{ $largestFontSize := 1.5 }}
        {{ $smallestFontSize := 1.0 }}
        {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
        {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
        {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
        {{ $spread := sub $max $min }}
        {{ $fontStep := div $fontSpread $spread }}
          {{ range $name, $taxonomy := $.Site.Taxonomies.general_interests_tags }}
            {{ $tagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
            {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
              <a href="{{ .Page.Permalink }}" 
              class="tagcloud-item" style="margin-right:.5rem; font-size: {{ $currentFontSize }}rem;">
                #{{ .Page.Title }}
              </a>
          {{ end }}
      {{ end }}
    <hr/>
    </div>
  
    {{ end }}


  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <h3>Posts</h3>
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
        <div>
        <a href="{{ .Permalink }}" style="font-size:1em;">{{ .Title }}</a>
          <div>
            <i>
              <time style="font-size: .85em; color:#747474" datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
              </time>
            </i>

            {{ if .Params.tags }}
              <span style="margin-left: .5rem;font-size:small">
                {{ range .Params.tags }}
                  <a href="{{ $.Site.BaseURL }}blog/{{ . | urlize }}" style="color: #585b70">#{{ . }}</a>&nbsp;
                {{ end }}
              </span>
            {{ end }}
          </div>
        </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
