{{ define "main" }} {{ .Content }}
<h3>Blog</h3>
<ul class="blog-posts">
  {{ $blogPages := where .Site.RegularPages "Section" "blog" | first 7 }} {{
  range $blogPages}}
  <li>
    <div>
      <a href="{{ .Permalink }}" style="font-size: 1.1em">{{ .Title }}</a>
      <div>
        <i>
          <time
            style="font-size: 0.85em; color: #747474"
            datetime='{{ .Date.Format "2006-01-02" }}'
            pubdate
          >
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>

        {{ if .Params.tags }}
        <span style="margin-left: 0.5rem; font-size: small">
          {{ range .Params.tags }}
          <a
            href="{{ $.Site.BaseURL }}blog/{{ . | urlize }}"
            style="color: #585b70"
            >#{{ . }}</a
          >&nbsp; {{ end }}
        </span>
        {{ end }}
      </div>
    </div>
  </li>
  {{ else }}
  <li>No posts yet</li>
  {{ end }}
</ul>
... <a href="/blog">Archives</a>

<!--
<h3>Tags</h3>
<div>
  {{ if ne (len $.Site.Taxonomies.tags) 0 }} {{ $largestFontSize := 1.5 }} {{
  $smallestFontSize := 1.0 }} {{ $fontSpread := sub $largestFontSize
  $smallestFontSize }} {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount
  0).Pages) 1 }} {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse
  0).Pages }} {{ $spread := sub $max $min }} {{ $fontStep := div $fontSpread
  $spread }} {{ range $name, $taxonomy := $.Site.Taxonomies.tags }} {{ $tagCount
  := len $taxonomy.Pages }} {{ $currentFontSize := (add $smallestFontSize (mul
  (sub $tagCount $min) $fontStep) ) }} {{ $weigth := div (sub (math.Log
  $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }} {{
  $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize
  $smallestFontSize) $weigth)) }}
  <a
    href="{{ .Page.Permalink }}"
    class="tagcloud-item"
    style="margin-right:.5rem; font-size: {{ $currentFontSize }}rem;"
  >
    #{{ .Page.Title }}
  </a>
  {{ end }} {{ end }}
</div>
-->

<h3>Other</h3>

<ul>
  <li><a href="/setup">My Setup</a></li>
  <li><a href="/now">Now</a></li>
</ul>

{{ end }}
