/* theme "Catppuccin Mocha" generated */

.z-code {
  color: #cdd6f4;
  background-color: #1e1e2e;
}

.z-comment {
  color: #6c7086;
}
.z-variable.z-parameter.z-function {
  color: #cdd6f4;
}
.z-keyword {
  color: #f38ba8;
}
.z-variable {
  color: #f28fad;
}
.z-entity.z-name.z-function,
.z-meta.z-require,
.z-support.z-function.z-any-method {
  color: #a6e3a1;
}
.z-support.z-class,
.z-entity.z-name.z-class,
.z-entity.z-name.z-type.z-class {
  color: #eba0ac;
}
.z-meta.z-class {
  color: #eba0ac;
}
.z-keyword.z-other.z-special-method {
  color: #a6e3a1;
}
.z-storage {
  color: #f38ba8;
}
.z-support.z-function {
  color: #a6e3a1;
}
.z-string {
  color: #94e2d5;
}
.z-constant.z-numeric {
  color: #f38ba8;
}
.z-none {
  color: #eba0ac;
}
.z-constant {
  color: #eba0ac;
}
.z-entity.z-name.z-tag {
  color: #f28fad;
}
.z-entity.z-other.z-attribute-name {
  color: #eba0ac;
}
.z-entity.z-other.z-attribute-name.z-id,
.z-punctuation.z-definition.z-entity {
  color: #eba0ac;
}
.z-meta.z-selector {
  color: #f38ba8;
}
.z-markup.z-heading .z-punctuation.z-definition.z-heading,
.z-entity.z-name.z-section {
  color: #a6e3a1;
}
.z-markup.z-bold,
.z-punctuation.z-definition.z-bold {
  color: #f38ba8;
}
.z-markup.z-italic,
.z-punctuation.z-definition.z-italic {
  color: #f38ba8;
}
.z-markup.z-raw.z-inline {
  color: #94e2d5;
}
.z-meta.z-link {
  color: #94e2d5;
}
.z-markup.z-quote {
  color: #94e2d5;
}
.z-source.z-java .z-meta.z-class.z-java .z-meta.z-method.z-java {
  color: #cdd6f4;
}
.z-source.z-java .z-meta.z-class.z-java .z-meta.z-class.z-body.z-java {
  color: #cdd6f4;
}
.z-source.z-js .z-meta.z-function.z-js .z-variable.z-parameter.z-function.z-js {
  color: #f28fad;
}
.z-source.z-js .z-variable.z-other.z-readwrite.z-js {
  color: #f28fad;
}
.z-source.z-js .z-variable.z-other.z-object.z-js {
  color: #cdd6f4;
}
.z-source.z-js
  .z-meta.z-function-call.z-method.z-js
  .z-variable.z-other.z-readwrite.z-js {
  color: #f28fad;
}
.z-source.z-js .z-meta.z-block.z-js .z-variable.z-other.z-readwrite.z-js {
  color: #f28fad;
}
.z-source.z-js .z-meta.z-block.z-js .z-variable.z-other.z-object.z-js {
  color: #cdd6f4;
}
.z-source.z-js
  .z-meta.z-block.z-js
  .z-meta.z-function-call.z-method.z-js
  .z-variable.z-other.z-readwrite.z-js {
  color: #cdd6f4;
}
.z-source.z-js
  .z-meta.z-function-call.z-method.z-js
  .z-variable.z-function.z-js {
  color: #cdd6f4;
}
.z-source.z-js
  .z-meta.z-property.z-object.z-js
  .z-entity.z-name.z-function.z-js {
  color: #a6e3a1;
}
.z-source.z-js .z-support.z-constant.z-prototype.z-js {
  color: #cdd6f4;
}
.z-markup.z-inserted {
  color: #94e2d5;
}
.z-markup.z-deleted {
  color: #f28fad;
}
.z-markup.z-changed {
  color: #eba0ac;
}
.z-string.z-regexp {
  color: #94e2d5;
}
.z-constant.z-character.z-escape {
  color: #89b4fa;
}
.z-invalid.z-illegal {
  color: #cdd6f4;
  background-color: #f28fad;
}
.z-invalid.z-broken {
  color: #cdd6f4;
  background-color: #eba0ac;
}
.z-invalid.z-deprecated {
  color: #cdd6f4;
  background-color: #eba0ac;
}
.z-invalid.z-unimplemented {
  color: #cdd6f4;
  background-color: #f38ba8;
}
